$fontsize1: 12px;
$fontsize2: 14px;
$fontsize3: 16px;

$menu-cor:#2E2633;
$menu-cor-hover:#99173C;

@import url(font.css);

h6{ font-weight:700; font-family:'Myriad Pro','Open Sans', sans-serif!important;}
h5{	font-weight:800; font-family:'Myriad Pro','Open Sans', sans-serif!important;}

.icon-heading{
	background-image:url(../images/ui/minus.png);
	background-repeat:no-repeat;
	background-position: 0px 10px;
	padding-left:25px;
}

.page-content{
	position:absolute;
	z-index:10;
	width:100%;
	display:block;
	background-color:#FFF;
}

.page-sidebar{
	background-color:$menu-cor;
	width:270px;
	display:block;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
	bottom:0px;
	overflow:hidden;
	position:fixed;
}

.page-sidebar-scroll{
	width:290px;
	overflow: scroll!important;
	overflow-x:hidden!important;
	-webkit-overflow-scroll:touch!important;	
	height:100%;
}

.image-decoration{
	box-sizing:border-box;
	background-color:#FFFFFF;
	padding:4px;
	border:solid 1px #cacaca;
	margin-bottom:2px;
}

/*/////////////*/
/*/////////////*/
/*/////////////*/
/*Sidebar Style*/
/*/////////////*/
/*/////////////*/
/*/////////////*/
.menu-item{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	font-family:'Lato', sans-serif!important;
	background-color:$menu-cor;
	display:block;	
	font-size:$fontsize2;
	font-weight:600;
	text-transform:uppercase;
	line-height:48px;
	margin-bottom:-1px;
}

.menu-item:hover{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.menu-item a{
	color:#FFFFFF;
}

.menu-disabled{
	background-color:$menu-cor;
	text-shadow:0px 1px 0px #000000;	
}

.menu-enabled{
	background-color:$menu-cor-hover;
}

.menu-item strong{
	background-size:20px 20px;
	background-repeat:no-repeat;
	display:block;
	width:25px;
	height:50px;
	float:left;
	margin-left:20px;
	margin-right:8px;	
}



.closer-icon{		background-image:url(../images/icon_shadow/misc/accessdenied.png); background-position:0 13px;}
.home-icon{			background-image:url(../images/icon_shadow/misc/home.png);		background-position:0 13px;}
.features-icon{		background-image:url(../images/icon_shadow/settings/cog4.png);	background-position:0 14px;}
.gallery-icon{		background-image:url(../images/icon_shadow/media/image2.png);	background-position:0 13px;}
.portfolio-icon{	background-image:url(../images/icon_shadow/media/image3.png);	background-position:0 13px;}
.blog-icon{			background-image:url(../images/icon_shadow/tools/pencil.png);	background-position:0 14px;}
.contact-icon{		background-image:url(../images/icon_shadow/misc/mail.png);		background-position:0 14px;}
.iphone4-icon{		background-image:url(../images/icon_shadow/mobile/iphone4.png);		background-position:0 14px;}
.applications-icon{		background-image:url(../images/icon_shadow/misc/applications.png);		background-position:0 14px;}
.ig-icon{		background-image:url(../images/icon/social/ig.png);		background-position:0 14px;}
.book-icon{		background-image:url(../images/icon_shadow/misc/book.png);		background-position:0 14px;}
.strategy-icon{		background-image:url(../images/icon_shadow/misc/strategy.png);		background-position:0 14px;}


.submenu{display:none;}

.submenu-on-page{
	display:block;
}

.submenu-active{
	color:#FFFFFF!important;
}

.submenu > a:last-child{
	padding-bottom:5px;
	margin-bottom:-5px;
}

.submenu a{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	line-height:35px!important;
	text-shadow:0px 1px 0px #000000;
	display:block;
	font-size:$fontsize1;
	background-image:url(../images/misc/menu-arrows/arrow.png)!important;
	background-repeat:no-repeat;
	padding-left:55px;
	background-position:35px 14px;
	color:#9a9a9a;
}

.submenu a:hover{
	background-color:rgba(255,255,255,0.07);
}

.submenu-decoration{
	display:block;
	height:0px;
}

.sidebar-heading{
	color:#FFFFFF;
	text-shadow:0px 2px 0px #000000;
	font-family:'Lato', sans-serif!important;
	font-weight:600;
	font-size:$fontsize1;
	letter-spacing:1px;
	margin-bottom:15px;
	margin-top:15px;
	padding-left:20px;
}

.sidebar-logo{
	width:148px;
	margin-left:57px;
	margin-top:20px;
	margin-bottom:20px;
}

.sidebar-decoration{
	background-image:url(../images/misc/sidebar-deco.png);
	height:2px;
	background-repeat:repeat-x;
	display:block;	
}

.update-box{
	font-size:$fontsize1;
	font-family:'Lato', sans-serif;
	font-weight:900;
	text-shadow:0px 1px 0px #000000;
	background-repeat:no-repeat;
	padding-left:30px;
	padding-left:50px;
	line-height:10px;
	padding-top:12px;
	padding-bottom:12px;
	color:#9a9a9a;
}


.update-box:hover{
	background-color:rgba(255,255,255,0.1);	
}

.sidebar-updates p{
	margin-bottom:0px!important;
}

.update-box a{
	color:#9a9a9a;
}

.update-box a:hover{
	text-decoration:none;
}

.update-news{	background-image:url(../images/misc/menu-icons/update-news.png);		background-position:20px 14px;}
.update-blog{	background-image:url(../images/misc/menu-icons/update-blog.png);		background-position:20px 14px;}
.update-folio{	background-image:url(../images/misc/menu-icons/update-folio.png);		background-position:20px 14px;}


.sidebar-button{
	width:90px;
	height:49px;
	display:block;
	float:left;
	background-color:$menu-cor;
	color:$menu-cor;
	border-top: 1px #3F2D4A solid;
	border-right: 1px #3F2D4A solid;
}

.sidebar-button em{
	color:$menu-cor;
	font-size:$fontsize1;
	font-style:normal;

	background-size:28px 28px;
	height:50px;
	background-position:30px 10px;
	background-repeat:no-repeat;
	text-align:center;
	display:block;
	padding-top:24px;
	font-weight:400;
}

.sidebar-button-instagram{background-image:url(../images/icon/social/ig.png);}
.sidebar-button-facebook{background-image:url(../images/icon_shadow/social/facebook.png);}
.sidebar-button-twitter{background-image:url(../images/icon_shadow/social/twitter.png);}


.sidebar-button-rss{	background-image:url(../images/icon_shadow/misc/rss.png);}

.sidebar-button-call{background-image:url(../images/icon_shadow/communication/phonehook.png);}
.sidebar-button-text{background-image:url(../images/icon_shadow/communication/speechbubble4.png);}
.sidebar-button-close{background-image:url(../images/icon_shadow/misc/accessdenied.png);}

.sidebar-copyright{
	height:20px;
}


.next {
	background-color:#99173c;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:'Myriad Pro','Open Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:58px;
	line-height:58px;
	width:100%;
	text-decoration:none;
	text-align:center;
	text-transform: uppercase;

	margin-left: auto;
	margin-right: auto;
	a {
		color: #FFF;
	}
}

.app-image{
	width: 100px;
	margin-bottom: 18px;
	margin-right: 10px;
}



/*Header Styles*/

.header{
position:fixed;
width:100%;
z-index:9999;
	height:48px;
	background-color:#FFFFFF;
	border-bottom:1px #E4E4E4 solid;
	margin-bottom:20px;
}

/*.header-decoration{
	background-image:url(../images/misc/body-deco.png);
	height:2px;
	width:100%;
	margin-bottom:20px;
}*/

.logo{
	width:146px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
}

.header p{
	font-weight:400;
	font-size:$fontsize3;
	text-transform:uppercase;
	text-align:center;
	color:#757575;
	margin-top:15px;
}

.hide-sidebar{
	position:absolute;
	z-index:12;
	background-image:url(../images/misc/menu-item/deploy-menu.png);
	background-repeat:no-repeat;
	background-position:13px 18px;
	width:48px;
	height:48px;
	display:block;
	display:none;
}

.show-sidebar{
	position:absolute;
	z-index:12;
	background-image:url(../images/misc/menu-item/deploy-menu.png);
	background-repeat:no-repeat;
	background-position:13px 18px;
	width:48px;
	height:48px;
	display:block;
}

.show-sidebar:hover{
	background-color:#f1f1f1;
}

.hide-sidebar:hover{
	background-color:#f1f1f1;
}

.header-home:hover{
	background-color:#f1f1f1;
}

.header-home{
	position:absolute;
	z-index:12;
	background-image:url(../images/misc/menu-item/home.png);
	background-repeat:no-repeat;
	background-position:14px 18px;
	width:48px;
	height:48px;
	display:block;
	right:0px;
	top:0px;
}	


h6 strong{
	background-size:40px 40px;
	background-repeat:no-repeat;
	display:block;
	width:40px;
	height:50px;
	float:left;
	margin-left:15px;
	margin-right:15px;
	background-position: 0 0px;	
}
	.iphone-icon{		background-image:url(../images/icon_shadow/mobile/iphone4.png);		background-position:0 0px;}
	.apps-icon{		background-image:url(../images/icon_shadow/misc/applications.png);		background-position:0 0px;}
	.teoria-icon{		background-image:url(../images/icon_shadow/misc/book.png);		background-position:0 0px;}
	.dicas-icon{		background-image:url(../images/icon_shadow/misc/strategy.png);		background-position:0 14px;}
